* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}

html {
  background: #000;
}

.app {
  max-width: 70rem;
  margin: 10em auto;
  padding: 2rem 1rem;
  background: #e0fbfc;
  border-radius: 25px;
}

.container {
  display: flex;
  position: relative;
  padding: 1em;
}

@media only screen and (max-width: 1000px) {
  .app {
    margin: 0;
    border-radius: 0;
  }
  .container {
    flex-direction: column;
  }
}
.reservation-container {
  width: 25%;
  border-right: 0.1rem solid #e0fbfc;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 1em;
}

.reservation-header {
  font-size: 1.5rem;
  color: #e0fbfc;
}

.reservation-card-name {
  max-width: 60%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.reservation-cards-container {
  min-height: 35rem;
  width: 100%;
}

.reservation-card-container {
  display: flex;
  justify-content: space-between;
  background-color: #e0fbfc;
  padding: 0.5rem 1rem;
  border-radius: 0.4rem;
  box-shadow: 0.1rem 0.1rem 1rem rgba(0, 0, 0, 0.171);
  width: 100%;
  margin: 1rem -1rem;
  transition: 1s;
  animation: popIn 0.4s;
}
@keyframes popIn {
  0% {
    translate: -5em;
  }
  50% {
    translate: 1em;
  }
  100% {
    translate: 0em;
  }
}

.reservation-card-btns {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 1em;
}

.reservation-card-remove-btn {
  border-radius: 0.4rem;
  padding: 0.5em 1em;
  background: #3d5a80;
  color: #e0fbfc;
  border: none;
  cursor: pointer;
  transition: 0.5s;
  width: 3em;
  background: #ee6c4d;
}
.reservation-card-remove-btn:hover {
  color: #3d5a80;
  background-color: #e0fbfc;
}
.reservation-card-remove-btn:hover {
  color: #ee6c4d;
}

.reservation-card-reserve-btn {
  border-radius: 0.4rem;
  padding: 0.5em 1em;
  background: #3d5a80;
  color: #e0fbfc;
  border: none;
  cursor: pointer;
  transition: 0.5s;
  width: 100%;
  background-color: #3d5a80;
}
.reservation-card-reserve-btn:hover {
  color: #3d5a80;
  background-color: #e0fbfc;
}

.reservation-input-container {
  width: 115%;
  padding: 0.5rem 1rem;
  align-self: flex-end;
}
.reservation-input-container form {
  display: flex;
  flex-direction: column;
  gap: 0.23em;
}
.reservation-input-container form input {
  outline: 1px solid rgba(61, 90, 128, 0.23);
}

.reservation-input-container input {
  width: 100%;
  border-radius: 0.4rem;
  padding: 0.5em 1em;
  background: #3d5a80;
  color: #e0fbfc;
  border: none;
  transition: 0.5s;
  background: #e0fbfc;
  color: #3d5a80;
}

.reservation-input-container button {
  border-radius: 0.4rem;
  padding: 0.5em 1em;
  background: #3d5a80;
  color: #e0fbfc;
  border: none;
  cursor: pointer;
  transition: 0.5s;
  background: #3d5a80;
  width: 100%;
}
.reservation-input-container button:hover {
  color: #3d5a80;
  background-color: #e0fbfc;
}

@media only screen and (max-width: 1000px) {
  .reservation-container {
    width: 100%;
    border-right: none;
    margin-bottom: 2em;
  }
  .reservation-card-container {
    margin: 1rem 0;
  }
  .reservation-input-container {
    width: 80%;
    align-self: center;
  }
}/*# sourceMappingURL=Reservations.css.map */