* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}

html {
  background: #000;
}

$accent-clr: #3d5a80;
$white-clr: #e0fbfc;
$shadow-clr: rgba(0, 0, 0, 0.171);
$red-clr: #ee6c4d;
$green-clr: #98c1d9;
$bg-clr: #e0fbfc;
$b-radius: 0.4rem;

.app {
  max-width: 70rem;
  margin: 10em auto;
  padding: 2rem 1rem;
  background: $bg-clr;
  border-radius: 25px;
}

.container {
  display: flex;
  position: relative;
  padding: 1em;
}

@media only screen and (max-width: 1000px) {
  .app {
    margin: 0;
    border-radius: 0;
  }
  .container {
    flex-direction: column;
  }
}

@mixin baseButton {
  border-radius: $b-radius;
  padding: 0.5em 1em;
  background: $accent-clr;
  color: $white-clr;
  border: none;
  cursor: pointer;
  transition: 0.5s;

  &:hover {
    color: $accent-clr;
    background-color: $white-clr;
  }
}

@mixin baseLabel {
  border-radius: $b-radius;
  padding: 0.5em 1em;
  background: $accent-clr;
  color: $white-clr;
  border: none;
  transition: 0.5s;
}
